* {
    outline: 1px solid red;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}
body::-webkit-scrollbar {
	display: none; /* Hide scrollbar for Chrome, Safari and Opera https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
}
.scroll {
    overflow-y: auto;
    height: 38vh;
    margin: 5vh;
}
#top-container {    
    background-image: url('../images/bg.png'); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
    position: relative;
    
}
#bottom-container {
    background-image: url('../images/bg.png'); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
    position: relative;
    /*background-color:rgba(240, 184, 0, 0.81);*/
}
section {
    min-height: 100vh;
    width: 100%;
}

#logobox{
    text-align: center;
    
}
#logo {
    width: 40%;
    height: 40%;
    min-width: 10%;
    min-height: 10%;
}
/* scroll down button design and animation from WEB CIFAR youtube page at https://www.youtube.com/watch?v=LY1jeQGUiAI&t=688s */
html {
    scroll-behavior: smooth;
}
#dd {
    position: absolute;
    left: 50%;
    bottom: 20px;
    height: 50px;
    width: 30px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}
#dd::before,
#dd::after {
    position: absolute;
    top: 20%;
    content: '';
    border: 2px solid black;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: dd 1s ease-in-out infinite ;
}
#dd::after {
    top: 30%;
    animation-delay: .3s
}
@keyframes dd {
    0%{
        opacity: 0;
    }
    30%{
        opacity:1;
    }
    60%{
        opacity:1;
    }
    100%{
        opacity: 0;
    }
}

label {
    text-align: left;
    width: 300vh;
}

html, body {
    height: 100%;
}
.menu {
    padding: 2vh;
}
form {
    border: 1px solid #cacaca;
    padding: 1rem;
    border-radius: 0;
    color: green;
    background-color: white;
  }
  form label {
      color: green;
      font-size: 12 vh;
  }
  .row {
      text-align: center;
  }


  /*--------------------------------------------------------------*/

h2 {
    color: #e9751d;
    font-size: 4vh;
}
h3 {
    font-size: 2.6vh;
}


  .data {
    padding: 4vh 10vh;
    background-color: #F5F5F5;
    border-bottom : green solid 1px;
  }
  
  .hide-dec {
    text-decoration: none;
  }
  
